@media only screen and (max-width: 1200px) {
  .hero-text-box{
    width: 100%;
    padding: 0 2%;
    
  }
  .row{
    padding: 0 3%;
  }
  .steps-box:first-child{
   text-align: center;
   padding-right:  3%;
   margin-top: 30px;
}

.steps-box:last-child{
   padding-left :  3%;
   margin-top: 50px;
}
.section_steps{
   background-color: #f4f4f4;
   height: 600px;
}
 .long-copy{
   /* line-height: 145%;
   width: 70%;
   margin: 0 auto;
   margin-bottom: 60px; */
   width: 85%;
   margin-left: 50px;

}
.footer-nav li, .social-links li {
   display: inline-block;
   margin:  10px;

}
footer p{
   color: #888;
    font-size: 80%;
}
.plans-box{
   box-shadow: 5px 5px 5px #555555;
   background-color: #fff;
   text-align: center;
   padding: 10px;
   border-radius: 10px;
   
}
.plans-box div{
   border-bottom: 1px solid #e67e22;
   margin-bottom: 10px;
   text-align: center;
   padding-bottom: 10px;
}
.plan-price-meal{
    font-size: 14px;
    font-weight: 500;
}
.plan-price{
   font-size: 300%;
   font-weight: 100;
   margin-bottom: 10px;
   color: #e67e22;
}
.plan-price span{
   font-size: 30%;
   color: #555;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 1px;
}
.plans-box ul{
   list-style: none;
   margin: 10px 0;
   padding: 0;
   text-align: left;
}
.plans-box ul li{
   margin-bottom: 10px;
   padding-left: 10px;
   font-size: 13px;
}
.section-cities{
    padding: 40px 0;
    font-size: 16px;
  }
}






@media only screen and (max-width: 1023px) {
  .long-copy{
   /* line-height: 145%;
   width: 70%;
   margin: 0 auto;
   margin-bottom: 60px; */
   width: 85%;
   margin-left: 50px;

}
body{
    font-size: 16px;
    line-height: 1.5;
}
section{
    padding: 60px 0;
}
.footer-nav li, .social-links li {
   display: inline-block;
   margin:  10px;

}
footer p{
   color: #888;
    font-size: 80%;
}
.contact-form{
   width: 80%;
   margin: 0 auto;
}
.long-copy{
   line-height: 145%;
   width: 70%;
   margin: 0 auto;
   margin-bottom: 6px;

}
}






@media only screen and (max-width: 768px) {
.logo{
   height: 50px;
   width: 50px;
   float: left;
   border-radius: 50%;
   margin-top: 20px;
   background-size: cover;
   border: 2px solid #fff;
}
.main-nav{
   float: right;
   margin-top: 40px;
   margin-right: 0px;
   list-style: none;
}
.main-nav li{
   display: inline-block;
   margin-left: 10px;
   font-weight: 400;
   text-transform: uppercase;
   font-size: 12px;
}
header{
      height: 50vh;
      width: 100%;
}
.hero-text-box{
   top: 30%;

}
h1{
   font-size: 120%;
   line-height: 150%;
}
  .row{
    padding: 0 4%;
  }
  .section-cities{
    padding: 4px 0;
    font-size: 8px;
  }
  .plans-box{
   box-shadow: 5px 5px 5px #555555;
   background-color: #fff;
   text-align: center;
   padding: 1px;
   border-radius: 10px;
   
}
.plans-box div{
   border-bottom: 1px solid #e67e22;
   margin-bottom: 10px;
   text-align: center;
   padding-bottom: 10px;
}
.plan-price-meal{
    font-size: 12px;
    font-weight: 500;
}
.plan-price{
   font-size: 250%;
   font-weight: 100;
   margin-bottom: 10px;
   color: #e67e22;
}
.plan-price span{
   font-size: 30%;
   color: #555;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 1px;
}
.plans-box ul{
   list-style: none;
   margin: 10px 0;
   padding: 0;
   text-align: left;
}
.plans-box ul li{
   margin-bottom: 10px;
   padding-left: 10px;
   font-size: 13px;
}
.steps-box:last-child{
   padding-left :  3%;
   margin-top: 30px;
}
.contact-form{
   width: 90%;
   margin: 0 auto;
}
body{
    font-size: 14px;
    line-height: 1.4;
}
.section-plans{
   background-color: #f4f4f4;
   height: 600px;
}
.works-step p{
   font-size: 12px;
   margin-left: 40px;
}
.section_steps{
   background-color: #f4f4f4;
   height: 800px;
}
.section-cities{
   background-color: #fff;
   height: 600px;
}
}






@media only screen and (max-width: 480px) {
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
  body{
    font-size: 14px;
  }
  header{
      width: 100vw;

  }
  .logo{
   height: 50px;
   width: 50px;
   float: left;
   border-radius: 50%;
   margin-top: 20px;
   background-size: cover;
   border: 2px solid #fff;
}
.main-nav{
   float: right;
   margin-top: 40px;
   margin-right: 0px;
   list-style: none;
}
.main-nav li{
   display: inline-block;
   margin-left: 10px;
   font-weight: 400;
   text-transform: uppercase;
   font-size: 12px;
}
header{
      height: 50vh;
      width: 100%;
}
.hero-text-box{
   top: 30%;

}
h1{
   font-size: 120%;
   line-height: 150%;
}
.btn:hover, .btn:active,input[type=submit]:hover{
   background-color: #cf6d17;
   border-color: #cf6d17;
   color: #fff;
   transition: all 0.2s;
   cursor: pointer;

}
section{
    padding: 40px 0;
}
.row h2{
   font-size: 14px;
 }

.long-copy{
   line-height: 145%;
   width: 90%;
   margin: 0 auto;
   margin-bottom: 6px;
}

section{
   padding: 40px 0;
   
}
.meals-showcase{
 list-style: none;
width: 100%;
margin: 0;


}
.meals-showcase li{
   display: inline-block;
   margin: 0px;
   padding: 0px;
   width: 50%;
}figure img{
   width: 100%;
   height: 250px;
}
.works-step{
   margin-bottom: 20px;
}
.phone{
   position: relative;
   right : -20%;
   top: 10%;
   width: 25%;
   box-shadow: 10px 10px 5px #555555;
   border-radius: 15% 15% 10% 10%; ;
}

.works-step div{
   color: #e67e22;
   border-radius: 50%;
   border: 2px solid #e67e22;
   /* Removed display: inline-block; */
   height: 25px;
   width: 25px;
   text-align: center;
   font-size: 100%;
   display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 40px;
   

}
.works-step p{
   font-size: 12px;
   margin-left: 40px;
}
.section_steps{
   background-color: #f4f4f4;
   height: 500px;
}
.section-cities{
   background-color: #fff;
   height: 1600px;
}
.box img{
   width: 80%;
   height: 200px;
   box-shadow: 5px 5px 5px #555555;
   margin-bottom: 20px;
   border-radius: 5px;

}
.city-features{
   margin-bottom: 0px;

}
.icon_small{
   color: #e67e22;
   font-size: 150%;
   line-height: 120%;
   margin-right: 10px;
   vertical-align: middle;
   border: 3px solid #e67e22;
   border-radius: 50%;
   text-align: center;
   padding: 5px;
   
}

blockquote{
   font-style: italic;
   padding: 2%;
   line-height: 125%;
   margin-top: 20px;
}
cite{
   display: block;
   margin-top: 10px;
   font-size: 90%;
   color: #e67e22;
   font-weight: 400;
   margin-top: 25px;
}
cite img{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 10px;
   vertical-align: middle;
   border: 2px solid #e67e22;
}
blockquote::before{
   content: "\201C";
   font-size: 300%;
   color: #e67e22;
   margin-right: 10px;
}
.section-plans{
   background-color: #f4f4f4;
   height: 1200px;
}
.plans-box{
   box-shadow: 5px 5px 5px #555555;
   background-color: #fff;
   text-align: center;
   padding: 20px;
   border-radius: 20px;
   margin-bottom: 25px;
   width: 90%;
   
   
}
.plans-box div{
   border-bottom: 1px solid #e67e22;
   margin-bottom: 10px;
   text-align: center;
   padding-bottom:10px;
}
.plan-price{
   font-size: 300%;
   font-weight: 100;
   margin-bottom: 10px;
   color: #e67e22;
}
.plan-price span{
   font-size: 30%;
   color: #555;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 1px;
}
.plans-box ul{
   list-style: none;
   margin: 20px 0;
   padding: 0;
   text-align: left;
}
.plans-box ul li{
   margin-bottom: 10px;
   padding-left: 20px;
}
.icon-small{
   color: #e67e22;
   font-weight: bold;
}
.box p{
   line-height: 125%;
   margin-bottom: 2px;
}
.section_steps{
   background-color: #f4f4f4;
   height: 520px;
   overflow: hidden;
}
.section-cities{
   background-color: #fff;
   height: 1640px;
   overflow: hidden;
}
.section-plans{
   background-color: #f4f4f4;
   height: 1550px;
   overflow: hidden;
}
.contact-form{
   width: 100%;
   margin: 0 auto;
}
}


